
/* #fundo {
    background: url(/assets/img/Fundo.png);
    background-size: auto; 
    background-repeat: no-repeat; 
    height: 100vh;
    position: relative;
    z-index: 1;
} 
*/

#fundoD{
    float: right;
    margin-left: 20px; 
    padding-top: 20px;
}

#fundoE {
    float: left;
    margin-left: 20px; 
    padding-top: 20px;
}

@media only screen and (max-width: 1500px) {
    /* Ajusta o tamanho da imagem para telas menores */
    #fundoD img {
        width: 400px;
        height: 600px;
    }

    #fundoE img {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    /* Ajusta o tamanho da imagem para telas menores */
    #fundoD img {
        width: 400px;
        height: 850px;
    }
}

@media only screen and (max-width: 800px) {
    /* Oculta a imagem em telas menores que 600px de largura */
    #fundoD img {
        display: none;
    }
}