/* Estilos específicos para a página de doação de sangue */

.doacao-sangue {
    padding: 80px 20px 20px; /* Adicionando padding no topo para evitar que o conteúdo seja obscurecido pelo header */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.doacao-sangue .conteudo {
    max-width: 1200px; /* Limitando a largura do conteúdo */
    margin: 0 auto; /* Centralizando o conteúdo na horizontal */
}

.doacao-sangue h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #dc3545; /* Cor do título */
    font-weight: bold; 
}

.doacao-sangue h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #dc3545; /* Cor do subtítulo */
    font-weight: bold; 
}

.doacao-sangue p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333; /* Cor do texto */
}

.doacao-sangue ul {
    margin-bottom: 20px;
}

.doacao-sangue ul li {
    list-style-type: disc;
    margin-left: 20px;
    color: #555; /* Cor do texto da lista */
    list-style-type: none;
    font-weight: bold; 
}

.doacao-sangue footer {
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto do footer */
}
.locais-coleta {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.local-coleta {
    margin-bottom: 20px;
}

.local-coleta h3 {
    font-size: 20px;
    color: #ad0f0f;
}

.local-coleta p {
    line-height: 1.6;
    margin-top: 5px;
}

/* Estilizando o elemento <details> */
details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilizando a seta que mostra/oculta o conteúdo */
  summary::-webkit-details-marker {
    display: none;
  }
  
  /* Estilizando o texto do summary */
  summary {
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Alterando a aparência quando o details está aberto */
  details[open] {
    background-color: rgb(235, 226, 216);
  }
  
  .doacao-sangue a {
    color: #6d0606; /* Azul escuro */
}

.doacao-sangue a:hover {
    color: #df0202; /* Azul mais claro quando hover */
}
